extends layout

block content
  #page-content-wrapper
    .page-content.inset
      .row
        a#menu-toggle.btn.btn-default(href='#')
          i.fa.fa-bars
        .col-md-12
          if (!user)
            a(href="/login") Login
            br
            a(href="/register") Register
          if (user)
            if (pet)
              h2 #{pet.name}
              dl
                dt Age
                dd #{moment(pet.birthday).from(moment(), true)}
                dt Last ate
                dd #{moment(pet.fed_at).from()}
                dt Last played
                dd #{moment(pet.played_at).from()}
                dt Last slept
                dd #{moment(pet.slept_at).from()}

              form(role='form', action="/pet/#{pet.url_name}",method="post", style='max-width: 300px;')
                button.btn.btn-default(type='submit', name='action', value='feed') Feed
                &nbsp;
                button.btn.btn-default(type='submit', name='action', value='play') Play
                &nbsp;
                button.btn.btn-default(type='submit', name='action', value='sleep') Sleep
                button.btn.btn-default(type='submit', name='action', value='panic') Panic

            else
              p This pet does not exist!

  script
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("active");
    });
    $("button[value='panic']").click(function(e) {
      e.preventDefault();
      alert("Panic jerks!");
    });
